.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vertical-center{
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
  }

#login {
    background-image: url('https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}