
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  background-color: #f3f5f6;
}

a:focus, a:hover, a:active {
    text-decoration: none;
}

.text-black {
    color: #333 !important;
}

a.text-black:focus, a.text-black:hover {
    color: #7b7b7b !important;
}



.list {
    display: block;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.list-header {
    display: block;
    float: left;
    width: 35%;
    overflow: hidden;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.list-header img {
    width: 500px;
    height: 200px;
}

.list-header .list-header-image:after {
    display: block;
    content: '';
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 200px 100px rgba(0,0,0,.58);
    z-index: 1;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
}

.list-content {
    display: block;
    margin-left: 35%;
    padding: 15px;
    position: relative;
}

.list-meta {
    display: block;
    margin-bottom: 16px;
    font-size: 13px;
    line-height: 100%;
}

.list-meta .list-meta-item {
    display: inline-block;
    margin-right: 18px;
    color: #9A9A9A;
}

.list:after {
    display: block;
    clear: both;
    content: '';
}

#restaurant-name {
  font-size: 24px;
}

.list:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
}

@media only screen and (max-width: 991px) {
  .list-header {
    display: block;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
  
  .list-content {
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 15px;
    clear: both;
  }
}




.flexbox {
  background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #0091c2;
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #0091c2;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 1;
}

.search > div > input::-ms-placeholder {
  color: #efefef;
}

.search > div > input::-ms-input-placeholder {
  color: #efefef;
}

.search > div > input:focus,
.search > div > input:valid {
  width: 250px;
}
=======
@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vertical-center{
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
  }

#login {
    background-image: url('https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#nav-bar{
    height: 5rem;
}

.navbar-brand{
    font-family: 'Francois One', sans-serif;
    font-size: 2rem;
}

.carousel-item-detail{
    height: 400px;
    width: 100%;
}

.p-5 {
    padding: 3rem!important;
    padding-bottom: 1rem !important;
}

.caro-detail{
    max-height: calc(100vh);
}

mark{
    background-color:green !important;
    color: white !important;
}

#weather {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
  border: none !important;
  align-items: center
}

#weather-img {
  height: 150px;
  width: 150px;
}
